
<div class="main-div">
<div class="card">
  <h5 class="card-header">Employee List</h5>
  <div class="card-body">

    <input type="textbox" class="align-right" 
    placeholder="Search" [(ngModel)]="searchEmp"/>
    <br>
    <br>
    <table class="table tabl table-hover table-condensed normal-whitespace">
    <thead>
      <tr>
        <th>No</th>
        <th>Emp ID</th>
        <th>Name</th>
        <th>Age</th>
        <th>Address</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let emp of employeeList | employeeFilter:searchEmp; let i = index">
        <td>{{i + 1}}</td>
        <td>{{emp.id}}</td>
        <td class="emp-name">{{emp.name}}</td>
        <td>{{emp.age}}</td>
        <td>{{emp.address}}</td>
      </tr>
    </tbody>
    </table>
  </div>
</div>
</div>
